<br clear="both" />
<div id="comments">
<% unless comments.size == 0 -%>
	<h2 id="numcomments"><%= comments.size %> Comments to this page</h2>
	<%= render(:partial => "shared/comment" , :collection => comments )%>
<% end -%>
</div>
<div id="newcommentdiv">
  <%= render :partial => "shared/newcomment" %>
</div>