/* 
	project: internet sharing template
  author: luka cvrk (www.solucija.com) 
  customized for borg: Riccardo Govoni <battlehorse@gmail.com>
*/
   
body { padding: 0; margin: 0; font: 0.7em Tahoma, Arial, sans-serif; line-height: 1.6em; background: #fff; color: #454545; }

/* content holder */
#global-wrap { margin: 10px auto; width: 960px; }

/* header */
#header { height: 60px; }
#logo-text { padding: 15px 0 0 8px; }
#logo-text A { text-decoration: none; color: #000;}
#slogan { margin: 0; padding: 0 0 0 10px; color: #808080; background: #fff; }
#site-actions { 
  float: right;
  width: 570px; 
  margin: 5px 5px 0 0; 
  text-align: right; 
}

/* horizontal tabbed toolbar */	
#toolbar { background: #fff url(../images/InternetSharing/bigbox.gif) no-repeat top left; color: #000;  height: 64px; text-align: center; padding: 0 0 0 210px; }
#toolbar li { display: inline; height: 45px; }
#toolbar li a { float: left; background: #fff url(../images/InternetSharing/barbg.gif) no-repeat; color: #808080; padding: 7px 0; width: 82px; text-align: center; font-weight: bold; text-decoration: none; }
#toolbar li a:hover { background: #fff url(../images/InternetSharing/barcurrent.gif) no-repeat; color: #000; }	
#toolbar li a.current { background: #fff url(../images/InternetSharing/barcurrent.gif) no-repeat; color: #2C71AE; }	


/* left and right */
#main { float: left; width: 650px; margin: 0 0 10px 0; }
#secondary-content {
	float: right;
	width: 295px;
	margin: 0 0 10px 0;
}

/* footer  */
#footer { clear: both; text-align: center; line-height: 1.8em; padding: 10px 0 10px 0; border-top: 1px solid #ccc; }

/* right side */
.boxtop { height: 19px; background: #fff url(../images/InternetSharing/boxtop.gif) no-repeat; color: #000; }
.box { background: #fff url(../images/InternetSharing/box.gif) no-repeat bottom left; color: #5b5b5b; padding: 0 10px 15px 10px; margin: 0 0 10px 0; }
.box p { padding: 0.1em; margin: 0;}
.box iframe { padding-top: 1em;}
.boxbottom { clear: both; }

/* grey subheader */
.messagetop { 
  clear: both; 
  height: 8px; 
  background: #dedede url(../images/InternetSharing/gboxtop.gif) no-repeat; 
  color: #000; 
  margin-top: 10px;
}
.message { 
  background: #dedede url(../images/InternetSharing/gbox.gif) no-repeat bottom left; 
  color: #444; 
  padding: 1px 13px 7px 13px; 
  margin: 0 0 20px 0; }
.message p { 
  padding: 0; 
  margin: 0;
}

/* search form */
.searchtop { height: 0px; background-image: none; }
.search { 
  color: #000;
	background: #fff url(../images/InternetSharing/searchbg2.gif) no-repeat;
  padding: 4px 0 0 10px;
	width: 295px;
	height: 45px;
	margin: 5px 0 0 0;
}

.search p { padding: 0; margin: 0; }

/* lists and form elements */
form { margin: 0; }
input.search { 
  width: 183px;
  height: 26px;
  border: none; 
  background: rgb(117, 173, 69) url(../images/InternetSharing/input.gif) no-repeat; 
  padding-left: 5px;
  padding-top: 5px;
  color: #1E67A8; 
  font-weight: bold; 
}
input.button { padding: 3px; }

/* left side */
.left_articles {
	text-align: justify;
	color: #000;
	background: #fff;
}

.left_articles h1 {
  border-bottom: 1px dotted #ccc;
  font-size: 2.0em;
}

.left_articles h2,
.left_articles h3 {
  border-bottom: 1px dotted #ccc;
  font-size: 1.8em;
}

.article-title {
  padding-top: 5px;
}

.article-content {
  clear: both;
}

/* links */
a { color: #003B6E; background: inherit; }
a:hover { color: #9EC068; background: inherit; }	

/* headings */
h1 { font: bold 2.5em "Arial", Sans-Serif; margin: 0; letter-spacing: -1px; }
h2 { font: bold 2em Arial, Sans-Serif; margin: 0; padding: 0; }
.article-title a, .article-title a:hover { 
  text-decoration: none;
}
.title { color: #808080; background: #fff; }

.calendar { 
  height: 40px; 
  float: left; 
  background: #fff url(../images/InternetSharing/calendar.gif) no-repeat; 
  width: 40px; 
  padding: 5px 0 0 9px;  
  color: #808080;
}
.calendar p { padding: 0; margin: 0; }


/* misc */
.buttons { text-align: right; padding: 4px 3px 0 0;}
.left_articles .buttons { float: right; height: 20px; }
.bluebtn { background: #488EB2 url(../images/InternetSharing/bluebtn.gif) no-repeat; width: 100px; padding: 1px 16px 5px 16px; color: #fff; text-decoration: none; }
.greenbtn { background: #488EB2 url(../images/InternetSharing/greenbtn.gif) no-repeat; padding: 1px 17px 5px 16px; color: #fff; text-decoration: none; }
.bluebtn:hover, .greenbtn:hover { background: #488EB2 url(../images/InternetSharing/hoverbtn.gif) no-repeat; color: #fff; }



/* comments */
.commenttop { 
  height: 14px; 
  background: #fff url(../images/InternetSharing/commentboxtop.gif) no-repeat; 
  margin-top: 5px;
  color: #000; 
}
.comment { 
  background: #fff url(../images/InternetSharing/commentbox.gif) no-repeat bottom left; 
  color: #444; 
  padding: 1px 10px 10px 10px;
  min-height: 90px;  
}
.comment p { padding: 0; margin: 0; }

label {
	display:block;
	font-weight:bold;
	margin: 7px 0;
}

/********************************************
   BATTLEHORSE ADDITIONS
********************************************/

/* preview mode */
.livepreview {
  margin: 1em;
}

#previewupdater {
  position: fixed;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  z-index: 1000;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clear { clear: both; }

/* images */
img.articleimg {
	background: #fff;
   border: 1px solid #dedede;
	padding: 5px;
}

img.float-right { margin: 5px 0px 10px 10px;  }
img.float-left { margin: 5px 10px 10px 0px; }

#flash_error, .formError {
  color: red;
  font-weight: bold;
}

.blog_archive {
  font-size: 160%;
  color: #003B6E;
  font-weight: normal;
}

.signature {
  float: right;
  color: #003B6E;
  border: 1px dotted #aaa;
  background-color: #eee;
  padding: 0 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;  
}

#translateLink {
  float:right; margin-right: 15px;
}

#translateBox {
  float:right; margin-right: 15px;
}