<div id="footer">
	<p>
	&copy; 2008-2010 <strong>Riccardo Govoni</strong>
	<% if borg(:css_template) == 'CoolWater' -%> 
		| Design by: <a href="http://www.styleshout.com/">styleshout</a>
  <% elsif borg(:css_template == 'InternetSharing') -%>
	  | Design by: <a href="http://www.solucija.com">solucija</a>
	<% end -%>
	<%= yield :inlinefooter %>
 	</p>
</div>	
