<div class="boxtop searchtop"></div>
<div class="box search">
	<form action="http://www.google.com/search" method="get">
		<p>
		<input name="as_q" class="search textbox" type="text" />
    <input type="hidden" name="as_sitesearch" value="<%= borg(:search_domain) %>">
		<input class="button" value="Search" type="submit" />
		</p>			
	</form>
</div>