<p style="margin-top: 0">
	<%= image_tag "borg/youarehere.png" , :style => "float:left" %> You are here:
	<%= link_to "Home" , root_path %>
	<% if defined? crumbs %>
	  <%= raw render_explicit_breadcrumbs(crumbs) %>
	<% else %>
	  <%= raw render_breadcrumbs %>
	<% end %>
</p>