<span id="login">
  <% if session[:user_id] -%>
    Hello <%= session[:user_id].nickname || session[:user_id].fullname %>, 
    <%= link_to "Logout", { :controller => "login" , :action => "logout" },
                :id => 'logout_link',
                :remote => true %>
    <% if session[:user_id].is_editor -%>
      | <%= link_to "Create", :controller => 'edit', :action => 'new'%>
    <% end -%>
  <% else -%>
    <%= link_to "Login", login_path %>
  <% end -%>
</span>
