<p class="breadcrumbs">
  <span class="intro_blurb">You are here:</span>
	<%= link_to "Home" , root_path %>
	<% if defined? crumbs %>
	  <%= raw render_explicit_breadcrumbs(crumbs) %>
	<% else %>
	  <%= raw render_breadcrumbs %>
	<% end %>
</p>