<% if session[:user_id] -%>  
  Hello <span title="<%= session[:user_id].identity_url %>">
    <%= session[:user_id].nickname || session[:user_id].fullname %>
  </span>, 
  <%= link_to "Logout", { :controller => "login" , :action => "logout", :jumpto => request.fullpath },
              :id => 'logout_link',
              :remote => true %>
<% else -%>
  <%= link_to "Login", login_path(:jumpto => @jumpto || request.fullpath) %>
<% end -%>
