<p class="article-meta align-left">
  <span class="readmore">
  	<%= link_to "Read more..." , page_path({ :path => meta.path }) %>
  </span>
  <span class="author">
  	| <%= author_link(meta) %>
  </span>
  <span class="lastmodified">
  	| <%= last_modified(meta) %>
  </span>
	<% if meta.comments.size > 0 -%>
	  | <span class="comments"><%= meta.comments.size %> comment(s)</span>
  <% end -%>
</p>