<p><%= image_tag "borg/comment.png", :alt => "Add a new comment" , :style => "vertical-align: middle" %>
<%= link_to_remote("Add a new comment", :url => { :controller => 'comment' , :action => 'new', :params => {:path => params["path"]} }) %></p>
