<div class="boxtop messagetop"></div>
<div class="box message">
  <%= yield :youarehere %>
  <% if flash[:error] %><p id="flash_error"><%= flash[:error] %></p><% end %>
  <div class="boxbottom"></div>
</div>