<div class="boxtop tagstop"></div>
<div class="box tags">
  <h2>Tags</h2>
  <p>
  	<span class="intro_blurb">This page is tagged as:</span>
  	<% for t in ([] << tags.h(:tags, [])).flatten -%>
  		<%= link_to t, tag_path(t) %>
  	<% end -%>
  </p>
</div>