<h1>Uh oh! Nothing here ...</h1>
<p>
	The contents of this page were devoured by a black hole just minutes ago.
	You may have better luck with a <a href="http://en.wikipedia.org/wiki/Special:Random">random wikipedia page</a>.
</p>
<p>
  Or just go back to the <a href="<%= url_for root_path %>">Home page</a>.
</p>