<span style="float:right; margin-right: 15px" id="translateLink">
  <%= link_to_function "Translate", "borg.show_translate_box();" %>
  <%= image_tag "borg/languages.png", :style => "vertical-align: middle"%>
</span>
<span style="float:right; margin-right: 15px; display:none;" id="translateBox">
    <select onchange="borg.translate(this, document.location.href);" id="translateSelect">
      <option value="">Pick a language</option>
      <option value="it">Italian</option>
      <option value="fr">French</option>
      <option value="es">Spanish</option>
    </select>
</span>
